@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

input {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  padding: 1rem 1.6rem;
  border-radius: 8px;
  border: 1px solid $color--light_grayish_violet;

  &::placeholder {
    color: $color--light_grayish_violet;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  &:active,
  &:focus {
    border-width: 1px;
    border-style: solid;
    border-image: $gradient--border 1;
  }
}

.d__hidden {
  display: none !important;
}

/* Hide spin box in Chrome, Safari, and Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin box in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Optional: Hide spin box in Internet Explorer */
input[type='number'] {
  -ms-appearance: none;
}
