@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.card {
  &__front {
    position: relative;
    justify-self: flex-end;
    transform: translateX(-10rem);

    .img__front {
      display: block;
      border-radius: 9px;
      overflow: hidden;
      box-shadow: 0 30px 30px 0 rgba($color--very_dark_violet, 0.2);
    }

    .data {
      padding: 3rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      color: $color--white;
      @include flexCenter;
      justify-content: space-between;

      .logo {
        align-self: flex-start;
      }

      &__body {
        width: 100%;

        @include grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.4rem;

        .number {
          grid-column: 1 / -1;
          font-size: 2.8rem;
          letter-spacing: 4px;
        }

        .name {
          justify-self: flex-start;
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        .expiry {
          justify-self: flex-end;
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }
  }

  &__back {
    justify-self: flex-end;
    position: relative;

    .img__back {
      display: block;
      border-radius: 9px;
      overflow: hidden;
      box-shadow: 0 30px 30px 0 rgba($color--very_dark_violet, 0.2);
    }

    .cvc {
      position: absolute;
      right: 5.8rem;
      top: 11rem;
      font-size: 1.6rem;
      letter-spacing: 2px;
      color: $color--white;
    }
  }
}
