@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.submitted {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: flex-start;
  margin-left: 12%;
  width: 36rem;

  @include flexCenter(column);
  gap: 4rem;

  .confirmed {
    @include flexCenter(column);
    gap: 2rem;

    .heading--secondary {
      font-weight: $fw--medium;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    .message__confirm {
      color: $color--dark_grayish_violet;
    }
  }
}
