$gradient--border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);

$color--errors: hsl(0, 100%, 66%);
$color--white: hsl(0, 0%, 100%);
$color--light_grayish_violet: hsl(270, 3%, 87%);
$color--dark_grayish_violet: hsl(279, 6%, 55%);
$color--very_dark_violet: hsl(278, 68%, 11%);

$ff-grotesk: 'Space Grotesk', monospace, sans-serif;

$fsz-p: 1.8rem;

$fw--medium: 500;
